*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 75%, 39%);
}

#top-img{
    position: fixed;
    top: -90%;
    left: -25%;
    height: auto;
}

#bottom-img{
    position: fixed;
    bottom: -100%;
    right: -20%;
    height: auto;
}

#id-card{
    #img-pattern{
        width: 300px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    #avatar{
        position: absolute;
        top: 20%;
        left: 32%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 50%;
    }
    position: fixed;
    top: 25%;
    left: 38%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    #intro{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    #user-data{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;
        height: 90px;
        border-top: 1px solid rgb(159, 144, 144);
        div{
            text-align: center;
        }
    }

}